.dashboard-home-card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 10rem;
    width: 20rem;
    align-items: center;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    margin-right: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.dashboard-home-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.dashboard-home-card img{
    height: 6rem;
    margin-right: 1rem;
}